img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

body {
    line-height: 1.5;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;

    @include pad {
        max-width: 720px;
    }

    @include mb {
        max-width: 373px;
    }
}

//背景
.bg-primary-0601 {
    background: $color-primary-0601;
}

//字體顏色
.text-light {
    color: $color-light;
}

.text-primary-0601 {
    color: $color-primary-0601;
}

//flex
.d-block {
    display: block;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
//position
.position-relative{
    position: relative;
}
.position-absolute {
    position: absolute;
}