body {
    font-family: $font-noto, $font-roboto, -apple-system, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif, serif;
    line-height: 1.5;
    font-weight: 400;
}
img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
    @include pad {
        max-width: 720px;
    }
    @include mb {
        max-width: 373px;
    }
}
.container-sm{
    max-width: 636px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    @include pad{
        max-width: 576px;
        padding-left: 12px;
        padding-right: 12px;
    }
    @include mb{
        max-width: 373px;
    }
}

//背景
.bg-primary-0601 {
    background: $color-primary-0601;
}

//字體顏色
.text-light {
    color: $color-light;
}

.text-primary-0601 {
    color: $color-primary-0601;
}

//flex
.d-block {
    display: block;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
//position
.position-relative{
    position: relative;
}
.position-absolute {
    position: absolute;
}
//空間佈局
.part{
    padding-top: 80px;
    padding-bottom: 80px;
    @include mb {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.title-h2 {
    text-align: center;
    font-size: $font-size-md;
    color: $color-primary-0300;
    margin-bottom: 48px;
    @include mb {
        font-size: $h4-font-size;
    }
}
