//HEADER
.header{
    padding-top: 12px;
    padding-bottom: 12px;
    background: $color-primary-0601;
    position: relative;
}
.logo{
    width: 80px;
    height: 50px;
    display: block;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
.menu{
    margin-left: -32px;
    margin-right: -32px;
    &-link{
        padding-left: 32px;
        padding-right: 32px;
        color: $color-light;
        font-size: $h5-font-size;
        &:hover{
            opacity: 0.8;
        }
    }
    @include mb{
        display: none;
    }
}
.ham-icon{
    display: none;
    color: $color-light;
    @include mb{
        width: 30px;
        height: 20px;
        display: block;
    }
    .ham.active {
        display: none;
    }
    .close {
        display: none;
    }
    .close.active {
        display: inline-block;
    }
}
.dropdown{
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    max-height: 0px;
    transition: all 0.8s;
    overflow: hidden;
    z-index: 120;
    &.active {
        @include mb{
            max-height: 200px;
        }
    }
    a{
        width: 100%;
        background: $color-primary-0601;
        display: block;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        color: $color-light;
        &:hover{
            background: #8f0400;
        }
    }
}

//FOOTER
.footer{
    padding-top: 48px;
    padding-bottom: 40px;
    background: $color-primary-0601;
    &-content{
        border-bottom: 1px solid $color-light;
        display: flex;
    }
}