.text-noto {
    font-family: "Noto Serif TC", serif;
}

.text-roboto {
    font-family: "Roboto", serif;
}

.front-light {
    font-weight: 300;
}

.front-regular {
    font-weight: 400;
}

.front-medium {
    font-weight: 500;
}

.front-bold {
    font-weight: 700;
}

.front-black {
    font-weight: 900;
}

//斜體
.italic {
    font-style: italic;
}

//行高
.lh-md {
    line-height: 1.5;
}

//字體大小
.fz-sm {
    font-size: 16px;
}
.fz-md {
    font-size: 20px;
}

.fz-l {
    font-size: 24px;
}

.fz-xl {
    font-size: 30px;
}

.fz-2xl {
    font-size: 36px;
}
//文字顏色
.fz-color-light{
    color: $color-light;
}
.fz-color-dark{
    color: $color-dark;
}
//背景顏色
.bg-color-gray{
    background: #F2F2F2;
}